<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="base/layout">

<section layout:fragment="titulo">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0 text-dark">Marcas</h1>
			</div>
			<!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Marcas</a></li>
					<li class="breadcrumb-item active">Cadastrar / Editar</li>
				</ol>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</section>

<section layout:fragment="conteudo" class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-12">
				<!-- general form elements -->
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Dados da Marca</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form role="form" onsubmit="return salvar()" th:object="${entity}">
						<div class="card-body">
							<div class="form-group">
								<input type="hidden" th:if="*{id} != null" th:value="*{id}"
									id="input_id"> <label for="input_descricao">Descrição</label>
								<input type="text" class="form-control"
									id="input_descricao" required
									placeholder="Insira a descrição da marca"
									th:value="*{descricao}">
							</div>
						</div>
						<!-- /.card-body -->
						<div class="card-footer">
							<button type="submit" class="btn btn-primary">Salvar</button>
							<a class="btn btn-default float-right" th:href="@{/marca/listar}"><span
								class="fa fa fa-file-text-o">Voltar</span></a>
						</div>
					</form>
				</div>
				<!-- /.card -->
			</div>
		</div>
	</div>
</section>

<section layout:fragment="javascript">
	<script type='text/javascript' th:src="@{/dwr/interface/MarcaRemoteProxy.js}"></script>
	<script type='text/javascript' th:src="@{/js/marca/marca_editar.js}"></script>
</section>